.effert__wrap {
    width: 400%;
    display: flex;
    transition: transform 5s ease;
}

.page>section {
    width: 80%;
    height: 500px;
    border: 1px solid #333;
    background-color: #f3f0e7;
    margin: 23px 0;
}


.effert__img {
    /* width: calc(50% - 50px); */
    width: 50%;
    height: 350px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.effert1__img {
    background-image: url(../img/effert1.png);
}

.effert2__img {
    background-image: url(../img/effert2.png);
}

.effert3__img {
    background-image: url(../img/effert3.png);
}

.effert4__img {
    background-image: url(../img/effert4.png);
}

.over {
    transition: opacity 3s ease;
}

.none {
    opacity: 0;
    pointer-events: none;
}

.nextover {
    width: 100px;
    height: 50px;
    background-image: url(../img/next.gif);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: (translate(-50%, -47%));
    cursor: pointer;
}

.prevover {
    width: 100px;
    height: 50px;
    background-image: url(../img/next.gif);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: (translate(-50%, -47%));
    cursor: pointer;
    transform: scaleX(-1);
}